<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<a href="<%= routing.home.path %>">Home</a>
<button id="toggle">PLAY/PAUSE</button>
<button id="clearLiRetainingArray">Clear li retaining array</button>
<label for="readHeightCheckBox">Read height</label><input type="checkbox" id="readHeightCheckBox"/>
<ul id="ul"></ul>
<script src="javascripts/forcedLayout.js"></script>
</body>
</html>